@mixin flexCenter($flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

@mixin sectionBasicStyle() {
  background-color: $backgroundColor;

  h1 {
    font-size: 3.2rem;
  }

  hr {
    margin-top: 2rem;
    width: 15rem;
    height: .3rem;
    background-color: $hrColor;
  }
}

@mixin buttonBasicStyle() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 20rem;
  font-size: 2rem;

  padding: 1.2rem 1.6rem;
  margin: 1.2rem 0;
  border-radius: 8px;

  cursor: pointer;

  transition: all .2s ease-in;
}

@mixin floatingButtonBasicStyle() {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin: 3rem 2rem;

  cursor: pointer;

  padding: 2rem;
  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .2);
  background-color: $white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all .15s ease;
  
  &:active {
    background-color: darken($white, 20%);
  }

  svg {
    width: 3.2rem;
    height: 3.2rem;
  }
}