$backgroundColor: #FAF9FE;
$white: #FFF;
$black: #000;
$lightGrey: #AAA;
$textPrimary: #120E21;
$textPecondary: #E6C28C;
$textPontrast: #FFF;
$inputPrimary: #FBEEFF;
$chatMessage: #9279FE;
$iconPrimary: #FFD79C;
$orange: #E6C28C;
$yellow: #FFD79C;
$red: #FF9E9C;
$cardBackground: #FFF;
$shadowCardInitial: rgba(0,0,0,0.05);
$shadowCardfinal: rgba(0,0,0,0.03);
$pieChartSadColor: #FBEAFF;
$pieChartHappyColor: #FF9E9C;

$desktopSize: 1000px;
$tabletSize: 700px;